<% layout('/layouts/boilerplate') -%>
<%- include('../includes/flashMessage.ejs', { type: 'success', message: newListing }) %>
<%- include('../includes/flashMessage.ejs', { type: 'danger', message: removed }) %>
<%- include('../includes/flashMessage.ejs', { type: 'danger', message: notExist }) %>

<body>

  <h1>All Listings</h1>
  <div class="card-container">
    <% for(let listing of listings) { %>
        <a href="/listings/<%= listing._id %>">
            <div class="card" style="width: 18rem">
    <img src="<%= listing.image %>" class="card-img-top" alt="listingImg" />
    <div class="card-body">
        <p class="card-title">
            <%= listing.title %>
        </p>
        <p class="card-price">
            &#8377;<%= listing.price.toLocaleString("en-IN")%> / night
        </p>
    </div>
  </div>
        </a>
  
  <% } %>
  </div>
  

</body>
